.employee{
	margin:25px;
	padding:10px;
	width:850px;
	height:auto;
	border: 2px solid black;
	background-color: BlanchedAlmond;
	color:Black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 12px 12px 40px black;
}
.dependent{
	margin:25px;
	padding:10px;
	width:400px;
	height:auto;
	border: 2px solid black;
	background-color: BlanchedAlmond;
	color:Black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 12px 12px 40px black;
}
.vaccine{
	margin:25px;
	padding:10px;
	width:400px;
	height:auto;
	border: 2px solid black;
	background-color: BlanchedAlmond;
	color:Black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 2px 2px 20px black;
}
.login{
	margin-left:1000px;
	margin-right:25px;
	margin-top:200px;
	padding:10px;
	width:300px;
	height:auto;
	border: 2px solid black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 1px 1px 10px black;
}
.covid{
	margin:25px;
	padding:10px;
	width:700px;
	height:auto;
	border: 2px solid black;
	background-color: BlanchedAlmond;
	color:Black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 6px 6px 20px black;
}
.relation{
	margin:25px;
	padding:10px;
	width:350px;
	height:auto;
	border: 2px solid black;
	background-color: BlanchedAlmond;
	color:Black;
	border-radius:10px;
	font-family: sans-serif;
	box-shadow: 6px 6px 20px black;
}
